@using MVC_Burger_Project.Models.Entities;
@using MVC_Burger_Project.Models.ViewModels;
@model MenuViewModel


<div class="form-popup" id="myForm">
    <form action="/action_page.php" class="form-container">
        <h1>Login</h1>

        <label for="burgerName"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="burgerName" readonly>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit" class="btn">Login</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>
<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    <!-- header-start -->
    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay">
        <h3>Menu</h3>
    </div>

    <!-- bradcam_area_end -->
    <!-- best_burgers_area_start  -->
    <div class="best_burgers_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-80">
                        <span>Burger Menu</span>
                        <h3>Best Ever Burgers</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <table class="table navbar-nav table-striped-columns table-responsive-sm" id="">
                                <tr class="nav-item">
                                    @foreach (Category category in Model.Categories)
                                    {

                                        <td><a class="nav-link active" aria-current="page" href="#@category.Name"><h3>@category.Name</h3></a></td>

                                    }
                                </tr>
                                @* <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                                </li>*@
                            </table>
                        </div>
                    </div>
                </nav>
            </div>
            <hr />
            @foreach (Category item in Model.Categories)
            {
                <div id="@item.Name" class="mb-3">
                    <br /><br /><br /><br /><br /><br />
                </div>
                <h2 class="text-center"><b>@item.Name</b></h2>
                <br />
                <div class="row">
                    @foreach (Menu menu in Model.Menus)
                    {
                        @if (item.Name == menu.Burger.Category.Name)
                        {

                            <div class="col-xl-6 col-md-6 col-lg-6">
                                <div class="single_delicious d-flex align-items-center">
                                    <div class="thumb">
                                        <img src="~/img/burger/@menu.Burger.Picture" alt="">
                                    </div>
                                    <div class="info">
                                        <h3>@menu.Burger.Name Menu</h3>
                                        <p>@menu.Burger.Description</p>
                                        <span>$@menu.TotalPrice </span>
                                        <a class="btn btn-outline-success mr-3 mt-3" onclick="openForm()">Add To Cart<i class="fa-solid fa-cart-plus ml-3"></i></a><a href="#" class="btn btn-outline-info mt-3">More Details<i class="fa-solid fa-circle-info ml-3 "></i></a>

                                    </div>
                                </div>
                            </div>

                        }
                    }

                    @if (item.CategoryID == 5)
                    {
                        @foreach (Side side in Model.Sides)
                        {

                            <div class="col-xl-6 col-md-6 col-lg-6">
                                <div class="single_delicious d-flex align-items-center">
                                    <div class="thumb">
                                        <img src="~/img/side/@side.Picture" alt="Resim eklenecek">
                                    </div>
                                    <div class="info">
                                        <h3>@side.Name</h3>
                                        <span>$@side.Price </span>
                                        <a class="btn btn-outline-success mr-3 mt-3" onclick="openForm()">
                                            Add To Cart<i class="fa-solid fa-cart-plus ml-3"></i>

                                        </a>

                                        <a href="#" class="btn btn-outline-info mt-3">More Details<i class="fa-solid fa-circle-info ml-3"></i></a>

                                    </div>
                                </div>
                            </div>


                        }
                    }
                    @if (item.CategoryID == 6)
                    {
                        @foreach (Drink drink in Model.Drinks)
                        {

                            <div class="col-xl-6 col-md-6 col-lg-6">
                                <div class="single_delicious d-flex align-items-center">
                                    <div class="thumb">
                                        <img src="~/img/drink/@drink.Picture" alt="Resim eklenecek">
                                    </div>
                                    <div class="info">
                                        <h3>@drink.Name</h3>
                                        <span>$@drink.Price </span>
                                        <a class="btn btn-outline-success mr-3 mt-3" onclick="openForm()">Add To Cart<i class="fa-solid fa-cart-plus ml-3"></i></a><a href="#" class="btn btn-outline-info mt-3">More Details<i class="fa-solid fa-circle-info ml-3 "></i></a>

                                    </div>
                                </div>
                            </div>
                        }
                    }
                    @if (item.CategoryID == 7)
                    {
                        @foreach (Sauce sauce in Model.Sauces)
                        {
                            <div class="col-xl-6 col-md-6 col-lg-6">
                                <div class="single_delicious d-flex align-items-center">
                                    <div class="thumb">
                                        <img src="~/img/sauce/@sauce.Picture" alt="Resim eklenecek">
                                    </div>
                                    <div class="info">
                                        <h3>@sauce.Name</h3>
                                        <span>$@sauce.Price </span>
                                        <a class="btn btn-outline-success mr-3 mt-3" onclick="openForm()">Add To Cart<i class="fa-solid fa-cart-plus ml-3"></i></a><a href="#" class="btn btn-outline-info mt-3">More Details<i class="fa-solid fa-circle-info ml-3"></i></a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <hr />
            }
        </div>
    </div>
    <!-- best_burgers_area_end  -->
    <script>
        //Pop-up Form Start
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
                                //Popup Form End
    </script>
    @* <script>
    $(document).ready(function () {
    // Handle click on paging links
    $('.tm-paging-link').click(function (e) {
    e.preventDefault();
    var page = $(this).text().toLowerCase();
    $('.tm-gallery-page').addClass('hidden');
    $('#tm-gallery-page-' + page).removeClass('hidden');
    $('.tm-paging-link').removeClass('active');
    $(this).addClass("active");
    });
    });  //Filter of Menus
    </script>*@

</body>