@using MVC_Burger_Project.Models.ViewModels;
@model MenuViewModel

@{
    ViewData["Title"] = "MyCart";
}

<section class="h-100" style=" margin-top:200px">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-8">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">My Cart</h3>
                </div>

                @if (ViewData["Order Completed"] != null)
                {
                    <div>
                        <p class="alert-success">@ViewData["Order Completed"]</p>
                    </div>
                }

                @if (Model.Orders.Count < 1)
                {
                    <div class="card rounded-3 mb-4">
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center ">
                                <p>Sepette Ürün Bulunamamıştır</p>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    @foreach (Order order in Model.Orders)
                    {
                        @if (order.Burger == null)
                        {
                            @if (order.Sauce == null)
                            {
                                @if (order.Drink == null)
                                {
                                    @if (order.Side == null && Model == null)
                                    {
                                        <div class="card rounded-3 mb-4">
                                            <div class="card-body p-4">
                                                <div class="row d-flex justify-content-between align-items-center " style="margin-top:200px">
                                                    <p>Sepette Ürün Bulunamamıştır</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="card rounded-3 mb-4">
                                            <div class="card-body p-4">
                                                <div class="row d-flex justify-content-between align-items-center">
                                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                                        <img src="~/img/side/@order.Side.Picture"
                                                             class="img-fluid rounded-3" alt="@order.Side.Name">
                                                    </div>
                                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                                        <p class="lead fw-normal mb-2">@order.Side.Name</p>

                                                    </div>
                                                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex text-center">
                                                        <label id="form1" min="1" name="quantity" type="number"
                                                               class="form-control form-control-sm">@order.Quantity</label>
                                                    </div>
                                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                        <h5 class="mb-0">@order.TotalPrice</h5>
                                                    </div>
                                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                        <a asp-action="DeleteOrder" asp-route-id="@order.OrderID" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="card rounded-3 mb-4">
                                        <div class="card-body p-4">
                                            <div class="row d-flex justify-content-between align-items-center">
                                                <div class="col-md-2 col-lg-2 col-xl-2">
                                                    <img src="~/img/drink/@order.Drink.Picture"
                                                         class="img-fluid rounded-3" alt="@order.Drink.Name">
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-3">
                                                    <p class="lead fw-normal mb-2">@order.Drink.Name</p>

                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex text-center">
                                                    <label id="form1" min="1" name="quantity" type="number"
                                                           class="form-control form-control-sm">@order.Quantity</label>
                                                </div>
                                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                    <h5 class="mb-0">@order.TotalPrice</h5>
                                                </div>
                                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                    <a asp-action="DeleteOrder" asp-route-id="@order.OrderID" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="card rounded-3 mb-4">
                                    <div class="card-body p-4">
                                        <div class="row d-flex justify-content-between align-items-center">
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <img src="~/img/sauce/@order.Sauce.Picture"
                                                     class="img-fluid rounded-3" alt="@order.Sauce.Name">
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                <p class="lead fw-normal mb-2">@order.Sauce.Name</p>

                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex text-center">
                                                <label id="form1" min="1" name="quantity" type="number"
                                                       class="form-control form-control-sm">@order.Quantity</label>
                                            </div>
                                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                <h5 class="mb-0">@order.TotalPrice</h5>
                                            </div>
                                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                <a asp-action="DeleteOrder" asp-route-id="@order.OrderID" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="card rounded-3 mb-4">
                                <div class="card-body p-4">
                                    <div class="row d-flex justify-content-between align-items-center">
                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <img src="~/img/burger/@order.Burger.Picture"
                                                 class="img-fluid rounded-3" alt="@order.Burger.Name">
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                            <p class="lead fw-normal mb-2">@order.Burger.Name Menu</p>
                                            <p><span class="text-muted">Size: </span>@order.Size.Name <br /><span class="text-muted">Drink: </span>@order.Drink.Name <br /><span class="text-muted">Sauce: </span>@order.Sauce.Name <br /><span class="text-muted">Side: </span>@order.Side.Name </p>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex text-center">
                                            <label id="form1" min="1" name="quantity" type="number"
                                                   class="form-control form-control-sm">@order.Quantity</label>
                                        </div>
                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                            <h5 class="mb-0" id="totalPrice">@order.TotalPrice</h5>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                            <a asp-action="DeleteOrder" asp-route-id="@order.OrderID" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
            <div class="col-4 h-100">
                <div class="card">
                    <form asp-controller="Burger" asp-action="CheckOut" method="post">
                        <button type="submit" class="btn btn-warning btn-block btn-lg">CheckOut</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

