@model MVC_Burger_Project.Models.Entities.Burger

@{
    ViewData["Title"] = "Details";
    string imageFolderPath = "/img/burger/";
}


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<hr />
<div class="container align-items-center">
    <h1>Details</h1>
    <h4>Burger</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class = "col-sm-10">
            <img src="@($"{imageFolderPath}{Model.Picture}")" alt="Burger Picture" width="150" height="150" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate.Year)
        </dd>
    </dl>
</div>
<div class="container">
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> 
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
